@page "/FotosElimIzalco"

<br />
<h1 style="text-align:center">Selecciona Un Album - Elim Izalco App</h1>
<br />
<MudPaper Class="pa-3 ma-2">
    <MudCardMedia Image="img/AnimationInitialElimIzalcoApp.gif" Height="200" />
    <MudCardContent>
        <MudText Typo="Typo.h5" style="text-align:center">Titulo del Album</MudText>
        <MudText Typo="Typo.body2" style="text-align:center">Breve Descripcion</MudText>
    </MudCardContent>
</MudPaper>
<br />
<MudPaper Class="pa-3 ma-2">
    <MudCardMedia Image="img/AnimationInitialElimIzalcoApp.gif" Height="200" />
    <MudCardContent>
        <MudText Typo="Typo.h5" style="text-align:center">Titulo del Album</MudText>
        <MudText Typo="Typo.body2" style="text-align:center">Breve Descripcion</MudText>
    </MudCardContent>
</MudPaper>
<br />
<MudPaper Class="pa-3 ma-2">
    <MudCardMedia Image="img/AnimationInitialElimIzalcoApp.gif" Height="200" />
    <MudCardContent>
        <MudText Typo="Typo.h5" style="text-align:center">Titulo del Album</MudText>
        <MudText Typo="Typo.body2" style="text-align:center">Breve Descripcion</MudText>
    </MudCardContent>
</MudPaper>

@code {

}
